{sub_dirs, ["deps"]}.

{deps, [
    {'folsom', ".*", {git, "git://github.com/boundary/folsom.git"}},
    {'exometer', ".*", {git, "git://github.com/Feuerlabs/exometer.git"}},
    {'hdr_histogram', ".*", {git, "git://github.com/machinezone/hdr_histogram_erl.git", {branch, "experimental-multithread-support2"}}}
]}.

{erl_opts, [debug_info]}.
{cover_enabled, true}.
